#header {
    background: white;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    padding: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: -1;
}

#name {
    background: lightgrey;
    position: absolute;
    color: white;
    font-size: 36px;
    margin-left: 200px;
    padding: 4px;
    top: -16px;
}

#background {
    width: 100%;
    z-index: -2;
    position: absolute;
    height: 728px;
}

.link {
    float: right;
    z-index: 1;
    position: relative;
    padding-right: 5px;
    right: 20px;
    margin-left: 10px;
    border-right: 2px solid grey

}


#about {
    background: white;
    padding: 10px;
    width: 960px;
    text-align: left;
    z-index: 1;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    
}
.abouttext {
    margin-left: 5px;

}
#face {
    width: 50%;
    float: left;
}

#closer {
    color: white;

}

#footer {
    padding: 10px;
    position: relative;
    margin-top: 20px;
    text-align: center;
    background-color: lightgrey;
    z-index: -1;
    border-bottom: 2px solid blue;  
    
}